.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/*.sif
OpenROAD/OpenROAD-flow-scripts/
OpenROAD/prefix-flow/results
OpenROAD/prefix-flow/*.sdc
OpenROAD/prefix-flow/*.tcl
OpenROAD/prefix-flow/*.v
prefixrl-cnn/analysis/adder*
/out/
prefixrl-cnn/adder*
prefixrl-cnn/adder*/*