
[submodule "OpenROAD/OpenROAD-flow-scripts"]
	path = /OpenROAD/OpenROAD-flow-scripts
	url = https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts.git
[submodule "OpenROAD/ArithTreeRL"]
	path = OpenROAD/ArithTreeRL
	url = https://github.com/laiyao1/ArithTreeRL.git
[submodule "rtla-synthesis"]
	path = rtla-synthesis
	url = https://github.com/cbrynds/rtla-synthesis.git
